//- Files.
- var fileCSS = '/assets/css/main.min.css'
- var fileJS = '/assets/js/main.min.js';
- var fileJSPolyfill = '/assets/js/polyfill.min.js';

//- Breakpoints
- var breakpointsSmall = '0rem';
- var breakpointsMedium = '40rem';
- var breakpointsLarge = '85.375rem';

//- Links.
- var linkSocialFacebook = 'https://www.facebook.com/banconeon';
- var linkSocialTwitter = 'https://twitter.com/banconeon';
- var linkSocialLinkedin = 'https://www.linkedin.com/company-beta/448644';
- var linkSocialYoutube = 'https://www.youtube.com/channel/UCh0hogVKGu8Wx5i6lwudPEg';
- var linkSocialInstagram = 'https://www.instagram.com/banconeon/';
- var linkDownloadAndroid = 'https://play.google.com/store/apps/details?id=br.com.neon';
- var linkDownloadIos = 'https://itunes.apple.com/br/app/neon/id1127996388?mt=8';

//- Images
- var imageLogo = '/assets/images/neon.png';
- var imageFavicon = '/assets/images/favicon.png';
- var imageSocialFacebook = '/assets/images/neon-facebook.png';
- var imageSocialTwitter = '/assets/images/neon-twitter.png';
- var imageSocialLinkedin = '/assets/images/neon-linkedin.png';
- var imageSocialYoutube = '/assets/images/neon-youtube.png';
- var imageSocialInstagram = '/assets/images/neon-instagram.png';
- var imageCarouselBiometria = '/assets/images/neon-biometria.png';
- var imageBannerSloganSmall = '/assets/images/neon-tipo-um-banco@small.png';
- var imageBannerSloganLarge = '/assets/images/neon-tipo-um-banco@large.png';

//- Mixin for links to social media.
mixin social(title, href, src)
  li
    a(href=href title=title target="_blank")
      img(src=src alt=title)

html
  head
    title Banco Neon

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(name="description" content="O banco Neon é tipo um banco, só que totalmente diferente. Queremos provar que você não precisa odiar seu banco. Peça sua conta!")

    link(rel="icon" href=imageFavicon)

    link(rel="stylesheet" type="text/css" href=fileCSS)

    script(type="text/javascript" href=fileJSPolyfill)

  body(itemscope="" itemtype="http://schema.org/WebSite")
    header.header(role="banner")
      div.grid.middle.justify
        div.column.shrink.header__group-home
          a.button.hallow.icon.arrow-gray-left(href="#" title="Início")
            span Início

        div.column.header__group-logo
          h1
            img(src=imageLogo alt="Neon")
            span Banco Neon

        div.column.shrink.header__group-download
          a.button.warning.gradient.icon.download-yellow.hide(href=linkDownloadAndroid title="Baixar App" target="_blank" data-id="download-android")
            span Baixe o APP

          a.button.warning.gradient.icon.download-yellow(href=linkDownloadIos title="Baixar App" target="_blank" data-id="download-ios")
            span Baixe o APP

    main.home
      div.grid.middle
        div.column.expand.collapse
          div.home__group-title
            picture
              source(srcset=imageBannerSloganLarge media=`(min-width: ${breakpointsMedium})`)
              source(srcset=imageBannerSloganSmall media=`(min-width: ${breakpointsSmall})`)
              img(src=imageBannerSloganLarge alt="Tipo um banco, só que mais seguro" data-id="home-banner")

            h2(data-id="home-banner-title") Tipo um banco<span>,</span> <br />
              strong só que mais seguro

        div.column.expand
          div.carousel(data-carousel="")
            div.carousel__group-button
              button.button.hallow.icon.carousel-arrow-gray-left(data-carousel-previous="")

            div.carousel__group-slides(data-carousel-slides="")
              div.card(data-carousel-slides-items="").active
                div.card__group
                  img(src=imageCarouselBiometria alt="Biometria")

                div.card__group
                  h3 Biometria

                div.card__group
                  p Reconhecimento por selfie ou digital, tudo para oferecer o máximo de segurança.

                div.card__group
                  a.button.info.success.gradient(href="https://www.banconeon.com.br/" title="Saiba mais" target="_blank") Saiba mais

              div.card(data-carousel-slides-items="").disable
                div.card__group
                  img(src=imageCarouselBiometria alt="Biometria" aria-hidden="true")

                div.card__group
                  h3 Biometria

                div.card__group
                  p Reconhecimento por selfie ou digital, tudo para oferecer o máximo de segurança.

                div.card__group
                  a.button.info.success.gradient(href="https://www.banconeon.com.br/" title="Saiba mais" target="_blank") Saiba mais

            div.carousel__group-button
              button.button.hallow.icon.carousel-arrow-gray-right(data-carousel-next="")

    footer.footer(role="content-info")
      div.grid.middle.justify
        div.column.expand.large-shrink.large-order-2
          div.footer__group-phone
            h3
              small Atendimento
              big 0800-606-7688

        div.column.expand.large-shrink.collapse.large-uncollapse.large-order-3
          div.footer__group-social
            ul
              +social('Facebook', linkSocialFacebook, imageSocialFacebook)
              +social('Twitter', linkSocialTwitter, imageSocialTwitter)
              +social('LinkedIn', linkSocialLinkedin, imageSocialLinkedin)
              +social('YouTube', linkSocialYoutube, imageSocialYoutube)
              +social('Instagram', linkSocialInstagram, imageSocialInstagram)

        div.column.expand.large-shrink.large-order-1
          div.footer__group-address(itemscope="" itemtype="http://schema.org/Organization")
            p
              small
                span(itemprop="name") Banco Neon S.A
                | &nbsp;- CNPJ 00.253.448/0001-17
                address(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
                  span(itemprop="streetAddress") Av. Raja Gabaglia, 1143/17°andar
                  | &nbsp;- CEP:
                  span(itemprop="postalCode") 30380-403 <br />
                  span(itemprop="addressLocality") Luxemburgo - Belo Horizonte - MG

    script(type="text/javascript" src=fileJS)
