//- Assets.
- var fileCSS = '/assets/css/main.min.css'
- var fileJS = '/assets/js/main.min.js'

//- Social medias.
- var socialFacebook = '#'
- var socialTwitter = '#'
- var socialLinkedin = '#'
- var socialYoutube = '#'
- var socialInstagram = '#'

- var imageLogo = '/assets/images/neon.png'
- var imageBanner = '/assets/images/neon-tipo-um-banco.png'
- var imageSocialFacebook = '/assets/images/neon-facebook.png'
- var imageSocialTwitter = '/assets/images/neon-twitter.png'
- var imageSocialLinkedin = '/assets/images/neon-linkedin.png'
- var imageSocialYoutube = '/assets/images/neon-youtube.png'
- var imageSocialInstagram = '/assets/images/neon-instagram.png'

//- Mixin for links to social media.
mixin social(title, href, src)
  li
    a(href=href title=title target="_blank" aria-label=`Ir para nossa página no ${title}`)
      img(src=src alt=title)
html
  head
    title Neon

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    link(type="text/css" href=fileCSS rel="stylesheet")
  body
    header.header(role="banner")
      div.grid.middle.justify
        div.column.shrink.header__group-home
          a.button.hallow.icon.arrow-gray-right(href="#" title="Início" aria-label="Voltar para a página inicial")
            span Início

        div.column.header__group-logo
          h1
            img(src=imageLogo alt="Neon" aria-label="Logo Neon")

        div.column.shrink.header__group-download
          a.button.warning.gradient.icon.download-yellow(href="#" title="Baixar App" target="_blank" aria-label="Baixar nosso aplicativo")
            span Baixar o APP

    main.home
      div.grid
        div.column.expand.home__group-title
          img(src=imageBanner alt="Tipo um banco, só que mais seguro" aria-hidden="true")

          h2 Tipo um banco,
            strong só que mais seguro

        div.column.expand.carousel
          button.button.hallow
            img(src="http://via.placeholder.com/65x65")

          div.carousel__slides
            div.card
              img(src="http://via.placeholder.com/150x150" alt="Biometria" aria-labelledby="about-neon-biometria")
              h3#about-neon-biometria Biometria

              hr

              p Reconhecimento por selfie ou digital, tudo para oferecer o máximo de segurança.

              a.button.info.success(href="#" title="Saiba mais" aria-label="Ler mais sobre nossa biometria") Saiba mais

          button.button.hallow
            img(src="http://via.placeholder.com/65x65")

    footer.footer(role="content-info")
      div.grid
        div.column.small-expand.footer__group-phone
          h3
            small Atendimento
            big 0800-606-7688
        div.column.small-expand.footer__group-social
          ul
            +social('Facebook', socialFacebook, imageSocialFacebook)
            +social('Twitter', socialTwitter, imageSocialTwitter)
            +social('LinkedIn', socialLinkedin, imageSocialLinkedin)
            +social('YouTube', socialYoutube, imageSocialYoutube)
            +social('Instagram', socialInstagram, imageSocialInstagram)
        div.column.small-expand.footer__group-address
          p
            small Banco Neon S.A - CNPJ 00.253.448/0001-17
              address Av. Raja Gabaglia, 1143/17°andar - CEP: 30380-403 <br /> Luxemburgo - Belo Horizonte - MG

    script(type="text/javascript" href=fileJS)
